<html>
    <head>
        <title>Noob</title>
    </head>
    <body>
{{if .Message}}
        <p>Alert: {{.Message}}</p>
{{end}}
{{if .User}}
        <p>Hello {{.User}}.</p>
        <a href="/problems/">View Problems</a>
        <br>
        <br>
{{if .Admin}}
        <span>Admin Privileges:</span>
        <br>
        <a href="/create/">Create Problem</a>
        <br>
        <br>
{{end}}
        <form method="POST" action="/api/auth/logout">
            <input type="submit" value="Logout">
        </form>
{{else}}
        <a href="/login/">Login</a>
        <br>
        <a href="/register/">Register</a>
{{end}}
    </body>
</html>
