<html>
    <head>
        <title>Create</title>
    </head>
    <body>
{{if .Message}}
        <p>Alert: {{.Message}}</p>
{{end}}
        <form method="POST" action="/admin/create">
            <input type="text" name="name">
            <br>
            <input type="text" name="description">
            <br>
            <textarea name="inputs"></textarea>
            <br>
            <textarea name="outputs"></textarea>
            <br>
            <input type="submit">
        </form>
    </body>
</html>
