<html>
    <head>
        <title>Login</title>
    </head>
    <body>
{{if .Message}}
        <p>Alert: {{.Message}}</p>
{{end}}
        <form method="POST" action="/auth/login">
            <input type="text" name="username">
            <br>    
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>
