<html>
    <head>
        <title></title>
        <script src="/static/js/problem.js"></script>
        <link rel="stylesheet" href="/static/css/common.css">
    </head>
    <body>
        <p class="message">Loading...</p>
        <div class="content hidden">
            <b id="name"></b>
            <br>
            <span id="description"></span>
            <br>
            <br>
            <textarea id="code"></textarea>
            <br>
            <button id="submit">Submit</button>
        </div>
    </body>
</html>
