<html>
    <head>
        <title></title>
        <script src="/static/js/problem.js"></script>
    </head>
    <body>
        <b id="name"></b>
        <br>
        <span id="description"></span>
        <br>
        <br>
        <textarea id="code"></textarea>
        <br>
        <button id="submit">Submit</button>
    </body>
</html>
