<html>
    <head>
        <title></title>
        <script src="/static/js/problem.js"></script>
        <link rel="stylesheet" href="/static/css/common.css">
    </head>
    <body>
        <p class="message">Loading...</p>
        <div class="content hidden">
            <b id="name"></b>
{{ if .Admin }}
            <br>
            <button id="edit">Edit</button>
            <form style="display: inline;" method="POST" action="/api/problems/delete">
                <input class="hidden" type="text" name="id">
                <input type="submit" value="Delete">
            </form>
{{ end }}
            <br>
            <pre id="description"></pre>
            <br>
            <textarea id="code"></textarea>
            <br>
            <button id="submit">Submit</button>
            <div id="results">
            </div>
        </div>
    </body>
</html>
